<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Angular Tabular List example</title>
    <link rel="stylesheet" href="../dist/style/angular-tablist.css"/>
    <link rel="stylesheet" href="tablist-example.css"/>
</head>
<body ng-app="tablistExample" ng-controller="TabListCtrl">

<script type="text/ng-template" id="table_renderer.html">
    <span>
        <cell style="width:40px;">{{row.id}}</cell>
        <cell class="main-column">{{row.name}}</cell>
        <cell>{{row.after}}</cell>
        <cell ng-click="addChildRow(row); expand()"><a href="#">add child row</a></cell>
    </span>
    <div class="children">
        <tablist>
            <row ng-repeat="row in row.children" ng-include="'table_renderer.html'">
            </row>
        </tablist>
    </div>
</script>

<div>
    <tablist indent="15" expanded="false">
        <row ng-repeat="row in table" ng-include="'table_renderer.html'">
        </row>
    </tablist>
    <button ng-click="addElement()">Add row</button>
</div>
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../dist/angular-tablist.js"></script>
<script type="text/javascript" src="tablist-example.js"></script>
</body>
</html>