<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular Tablist Module by Mariusz Jozala</title>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-tablist/dist/style/angular-tablist.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Angular TabList component</h1>

        <p class="lead">Simple "multi-level data in the table" component for AngularJS.</p>

        <p><a class="btn btn-lg btn-success" href="https://github.com/maniekq/angular-tablist" role="button">Code on
            GitHub</a></p>
    </div>

    <div class="row" ng-app="tablistExample" ng-controller="TabListCtrl">
        <div class="col-md-8">
            <h3>Basic example:</h3>
            <div class="demo-container">
                <script type="text/ng-template" id="table_renderer.html">
                    <span>
                <cell style="width:40px;">{{row.id}}</cell>
                <cell class="main-column">{{row.name}}</cell>
                <cell style="width: 120px;">{{row.after}}</cell>
                <cell style="width: 120px;" ng-click="addChildRow(row); expand()"><a href="#">add child row</a></cell>
            </span>
                    <div class="children">
                        <tablist>
                            <row ng-repeat="row in row.children" ng-include="'table_renderer.html'">
                            </row>
                        </tablist>
                    </div>
                </script>

                <div>
                    <tablist indent="15" expanded="false">
                        <row ng-repeat="row in table" ng-include="'table_renderer.html'">
                        </row>
                    </tablist>
                    <button style="float: right;" class="btn btn-lg btn-success" ng-click="addElement()">Add row</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Data:</h3>
            <pre class="code">{{ table | json }}</pre>
        </div>
    </div>
</div>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-tablist/dist/angular-tablist.js"></script>
<script type="text/javascript" src="bower_components/angular-tablist/example/tablist-example.js"></script>
</body>
</html>