.tabular-list .row {
    margin: 0;
}

.demo-container {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px;
}

.tabular-list .row > span {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.tabular-list .row .main-column {
    flex: 1 1 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}