<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Tabular list example</title>
    <link rel="stylesheet" href="../style/tabular-list.css"/>
</head>
<body>
<div ng-app="TabList" ng-controller="TabListCtrl">
    <tablist main-column="1" indent="15" expanded="true" template="template" >
        <row children="row.children" row="row" ng-repeat="row in table"><cell>{{ row.id }}</cell><cell>{{ row.name }}</cell><cell>{{ row.after }}</cell></row>
    </tablist>
    <button ng-click="addElement()">Add row</button>

<!--<span ng-init='bat = [{"name": "aa"},{"name": "bb"},{"name": "cc"},{"name": "dd"}]'></span>
<div ng-repeat="number in bat"><cell>{{ $index }}.{{ number.name }}</cell></div>-->
</div>
<script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../js/tablist.js"></script>
</body>
</html>